{% extends 'admin/adminsection_base.html' %}
{% block content %}
<h1>Profile</h1>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">

            <p><strong>Name:</strong> {{ user.first_name|default:'' }} {{ user.last_name|default:'' }} {{ user.surname|default:'' }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Program:</strong> {{ profile.program }}</p>
            <p><strong>University:</strong> {{ profile.university }}</p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock %}